<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Discovery Park of America.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>944593C21F5A05AF000B7FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>944593D61F5A05AF000B7FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>944593E11F5A05AF000B7FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
